.slider img,
.card-image{
  height: 450px;
  object-fit: cover;
}

.body{
    max-width: 1690px;
    margin:0 auto;
   

}

.pointer{
  cursor:pointer
}


/* 
const cartStyle = {
  style: {
    base: {
      color: "#32325d",
      fontFamily: "Arial, sans-serif",
      fontSmoothing: "antialiased",
      fontSize: "16px",
      "::placeholder": {
        color: "#32325d",
      },
    },
    invalid: {
      color: "#fa755a",
      iconColor: "#fa755a",
    },
  },
}; */